PORT = '3500'

MONGO_URI_LOCAL = 'mongodb://localhost:27017'

DB_TYPE=mongo

DB_NAME=task

MODE = 'DEV

JWT_SECRET = "efsfsegdjy54t343r/NPpWABw+Cjhcnj/QobXO8KD7vt9OoDTB2xlqcCR5xTcqIwoBpMVqwxk/+UXEA5GceCcf3Hq3J0bvWK7FGyH7r/DBt7g3BzNoqht6QwRoE6E9kwK8h3xB6YL6blWP7CQeie7/UI31DReGnIIPCddKKwdZSoe/wZ4pNqbkrsL49Z/B/zuEAG9Qmd9lZgWiTdynqw9F8grG28PEgNfv3ULplmu9FN2rEHLRyYfKVPBhJMVh8E4JWkg3A7FSe8TqMYDZ7/Ay4gP4AHrL09vNa0zFAXP8tNaniVaOE1ls0rhXf8+azLd1oYyK5BQ=="

